<div class="flex flex-row space-x-8 justify-between items-center" id="stats">
  <div class="flex flex-col p-12 border border-gray-300 rounded shadow">
    <p class="text-xl"><%= LogEntry.total_word_count %></p>
    <p>words written</p>
  </div>
  <div class="flex flex-col p-12 border border-gray-300 rounded shadow">
    <p class="text-xl"><%= human_duration(LogEntry.total_duration) %></p>
    <p>time spent focused today</p>
  </div>
</div>
